{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div id="comment-{{ comment.id }}" class="comment section border-bottom row">
  <div class="half column">
    {% if settings.show_gravatars %}
    <div class="gravatar">
      <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" alt="{{ article.author }}" />
    </div>
    {% endif %}
    <div class="article-meta">
      <div>{{ comment.author }}</div>
      <div><time datetime="{{ comment.created_at | date: format: 'short' }}"/>{{ comment.created_at | date: format: 'short' }}</div>
    </div>
  </div>

  <div class="half column">{% comment %}ly_code_replace_for_[ comment.content ]_begin{% endcomment %}{% include 'ly-content' with comment %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
</div> <!-- /.comment -->