{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<footer id="page-footer" class="page-footer">
  <div class="container">
    <div class="row section padless-top">
      <!-- Logo and links -->
      <div class="fourth column first">
        {% comment %}
        <div class="logo-column column mobile-logo">
          <a href="{{ langify_shop_url }}" title=""><img src="{% comment %}ly_asset_replace_for_[ 'transparent_pixel.png' | asset_url | split:"?" | first ]_begin{% endcomment %}{% assign ly_asset = 'transparent_pixel.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | split:"?" | first }}{% comment %}ly_asset_replace_end{% endcomment %}" data-src="{% comment %}ly_asset_replace_for_[ 'footer_logo.png' | asset_url | split:'?' | first ]_begin{% endcomment %}{% assign ly_asset = 'footer_logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | split:'?' | first }}{% comment %}ly_asset_replace_end{% endcomment %}" alt=""></a>
        </div>
        {% endcomment %}

        <ul class="plain inline list-divide">
          {% for link in linklists.footer-2.links %}
            <li>{% comment %}ly_code_replace_for_[ link.title | link_to: link.url ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation | link_to: link.url }}{% comment %}ly_code_replace_end{% endcomment %}</li>
          {% endfor %}
        </ul>

      </div>

      <!-- Social icons -->
      <div class="fifth column second">
        <div class="social-column align-left-desktop full column">
          {% include 'social-links' %}
        </div>
      </div>

      <!-- Win cash line -->
      <div class="fourth column">
        {% comment %}
        {% if template != 'product' and template != 'cart' %}
          <div class="competition">
            <a class="title ftc" href="/pages/win-cash">WANT TO <strong>WIN $5000 CASH</strong></a>
            <button class="buy-btn" onclick='window.location.href="/pages/win-cash"'>ENTER HERE</button>
          </div>
        {% endif %}
        {% endcomment %}
      </div>

      <div class="copy">{% comment %}ly_i18n_replace_for_[ 'layout.footer.copyright' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.copyright' | t }}{% endcapture %}{% include 'ly-static-string' with '4456803' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} &copy; {{ "now" | date: "%Y" }} <ly-as-5866631>FloatieKings</ly-as-5866631></div>
    </div>
  </div>
</footer>