{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if settings.social_links_show %}
<ul class="social-links plain">
  {% if settings.social_twitter_url != blank %}
  <li><a title="<ly-as-4456864>Twitter</ly-as-4456864>" class="icon-twitter" target="_blank" href="{{ settings.social_twitter_url }}"><span><ly-as-4456864>Twitter</ly-as-4456864></span></a></li>
  {% endif %}
  {% if settings.social_facebook_url != blank %}
  <li><a title="<ly-as-4456865>Facebook</ly-as-4456865>" class="icon-facebook" target="_blank" href="{{ settings.social_facebook_url }}"><span><ly-as-4456865>Facebook</ly-as-4456865></span></a></li>
  {% endif %}
  {% if settings.social_tumblr_url != blank %}
  <li><a title="<ly-as-4456866>Tumblr</ly-as-4456866>" class="icon-tumblr" target="_blank" href="{{ settings.social_tumblr_url }}"><span><ly-as-4456866>Tumblr</ly-as-4456866></span></a></li>
  {% endif %}
  {% if settings.social_rss_url != blank %}
  <li><a title="<ly-as-4456867>RSS</ly-as-4456867>" class="icon-rss" target="_blank" href="{{ settings.social_rss_url }}"><span><ly-as-4456867>RSS</ly-as-4456867></span></a></li>
  {% endif %}
  {% if settings.social_youtube_url != blank %}
  <li><a title="<ly-as-4456874>Youtube</ly-as-4456874>" class="icon-youtube" target="_blank" href="{{ settings.social_youtube_url }}"><span><ly-as-4456868>YouTube</ly-as-4456868></span></a></li>
  {% endif %}
  {% if settings.social_vimeo_url != blank %}
  <li><a title="<ly-as-4456869>Vimeo</ly-as-4456869>" class="icon-vimeo" target="_blank" href="{{ settings.social_vimeo_url }}"><span><ly-as-4456869>Vimeo</ly-as-4456869></span></a></li>
  {% endif %}
  {% if settings.social_instagram_url != blank %}
  <li><a title="<ly-as-4456870>Instagram</ly-as-4456870>" class="icon-instagram" target="_blank" href="{{ settings.social_instagram_url }}"><span><ly-as-4456870>Instagram</ly-as-4456870></span></a></li>
  {% endif %}
  {% if settings.social_pinterest_url != blank %}
  <li><a title="<ly-as-4456871>Pinterest</ly-as-4456871>" class="icon-pinterest" target="_blank" href="{{ settings.social_pinterest_url }}"><span><ly-as-4456871>Pinterest</ly-as-4456871></span></a></li>
  {% endif %}
  {% if settings.social_flickr_url != blank %}
  <li><a title="<ly-as-4456872>Flickr</ly-as-4456872>" class="icon-flickr" target="_blank" href="{{ settings.social_flickr_url }}"><span><ly-as-4456872>Flickr</ly-as-4456872></span></a></li>
  {% endif %}
  {% if settings.social_google_url != blank %}
  <li><a title="<ly-as-4456875>Google+</ly-as-4456875>" class="icon-googleplus" target="_blank" href="{{ settings.social_google_url }}"><span><ly-as-4456873>Google Plus</ly-as-4456873></span></a></li>
  {% endif %}
</ul>
{% endif %}