{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div id="customer-reset-password" class="container">
  <div class="reading-column">
    <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.title' | t }}{% endcapture %}{% include 'ly-static-string' with '2473823' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

    {% form 'reset_customer_password' %}
    {% if form.errors %}
    <div class="notification errors">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="input-row">
      <label class="label" for="password">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password' | t }}{% endcapture %}{% include 'ly-static-string' with '2473824' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
    </div>

    <div class="input-row">
      <label class="label" for="password_confirmation">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password_confirm' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password_confirm' | t }}{% endcapture %}{% include 'ly-static-string' with '2473825' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />
    </div>

    <div class="input-row">
      <input class="btn" type="submit" value="{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '2473826' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
    </div>

    {% endform %}
  </div>
</div>