{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% layout none %}<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">

  <channel>
    {% paginate collections.all.products by 10000 %}
    {% for product in collections.all.products %}
    <!-- Item #{{ forloop.index }} -->
    <item>
      <title>{% comment %}ly_code_replace_for_[ product.title | strip_html | strip_newlines | replace: '&', '<ly-as-9024246>and</ly-as-9024246>' ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | strip_html | strip_newlines | replace: '&', '<ly-as-9024246>and</ly-as-9024246>' }}{% comment %}ly_code_replace_end{% endcomment %}</title>
      <id><ly-as-9024247>shopify_</ly-as-9024247>{{product.id}}_{{product.selected_or_first_available_variant.id}}</id>
      <description>{% comment %}ly_code_replace_for_[ product.description | strip_html | strip_newlines ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | strip_html | strip_newlines }}{% comment %}ly_code_replace_end{% endcomment %}</description>
      <image_link>https:{{product.featured_image | product_img_url: 'master' }}</image_link>
      <link>{{langify_shop_url}}{{product.url}}</link>
    <price>{{product.price | money_without_currency}} <ly-as-9024248>EUR</ly-as-9024248></price>
    <brand><ly-as-9024249>Floatie Kings</ly-as-9024249></brand>
    <availability>{% if product.available == true %}<ly-as-9024250>in stock</ly-as-9024250>{% else %}<ly-as-9024251>out of stock</ly-as-9024251>{% endif %}</availability>
    <condition><ly-as-9024252>new</ly-as-9024252></condition>
    <google_product_category>Home &amp; Garden &gt; Pool &amp; Spa &gt; Pool &amp; Spa Accessories &gt; Pool Floats &amp; Loungers
    </google_product_category>
    <item_group_id>{{product.id}}</item_group_id>
    <product_type>{% comment %}ly_code_replace_for_[ product.type ]_begin{% endcomment %}{% include 'ly-type' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</product_type>
    </item>
  {% endfor %}
  {% endpaginate %}
  </channel>
</rss>